**1. Hello World Program:**

In [ ]:
print("Hello, World!")

Hello, World!

**2. Simple Calculator:**

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
sum = x + y
print(f"The sum of {x} and {y} is: {sum}")
difference = x - y
print(f"The difference of {x} and {y} is: {difference}")
product = x * y
print(f"The product of {x} and {y} is: {product}")
division = x / y
print(f"The division of {x} by {y} is: {division}")

Enter a number: 5
Enter another number: 3
The sum of 5 and 3 is: 8
The difference of 5 and 3 is: 2
The product of 5 and 3 is: 15
The division of 5 by 3 is: 1.6666666666666667

**3. Check for Even or Odd:**

In [ ]:
num =int(input("Enter a number: "))
if num % 2 == 0:
  print(f"{num} is an even number.")
else:
  print(f"{num} is an odd number.")

Enter a number: 6
6 is an even number.

**4. Factorial of a Number:**

In [ ]:
# Simple Function
def factorial(num):
  factorial = 1
  for i in range(1, num + 1):
    factorial *= i
  print(f"The factorial of {num} is: {factorial}")

num = int(input("Enter any number: "))
factorial(num)

# Recursive Function
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

n = int(input("Enter any number: "))
print("Factorial of a recursive function is:",factorial(n))

Enter any number: 6
The factorial of 6 is: 720
Enter any number: 4
Factorial of a recursive function is: 24

**5. Check for Prime Number:**

In [ ]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i ==0:
      return False
  return True

n = int(input("Enter a number to check if it is prime: "))
if is_prime(n):
  print(f"{n} is a prime number.")
else:
  print(f"{n} is not a prime number.")

Enter a number to check if it is prime: 5
5 is a prime number.

**6. Fibonacci Sequence:**

In [ ]:
def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)

terms = int(input("Enter the number of terms: "))
print("Fibonacci Sequence:")
for i in range(terms):
  print(fibonacci(i))

Enter the number of terms: 8
Fibonacci Sequence:
0
1
1
2
3
5
8
13

**7. Area of a Circle:**

In [ ]:
import math

radius = float(input("Enter the radius of a circle: "))
area = math.pi * (radius ** 2)
print("The area of the circle is:", area)

Enter the radius of a circle: 5.2
The area of the circle is: 84.94866535306801

**8. Simple Interest Calculator:**

In [ ]:
p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period: "))
interest = (p * r * t) / 100
print("Simple Interest:",interest)

Enter the principal amount: 1000
Enter the rate of interest: 5.6
Enter the time period: 3
Simple Interest: 168.0

**9. List Comprehension:**

In [ ]:
squares = [i ** 2 for i in range(10)]
print("Squares:",squares)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**10. Simple File Handling:**

In [ ]:
# Writing to a file
with open("output.txt","w")as file:
  file.write("Hello, this is a sample text that will be written to the file.")

# Reading from a file
with open("output.txt", "r") as file:
  text = file.read()
  print("Text from file:",text)

Text from file: Hello, this is a sample text that will be written to the file.

**11. Check for Palindrome:**

In [ ]:
def is_palindrome(s):
  return s==s[::-1]

string = input("Enter a string: ")
if is_palindrome(string):
  print("The entered string is a palindrome.")
else:
  print("The entered string is not a palindrome.")

Enter a string: noon
The entered string is a palindrome.

**12. Simple String Operations:**

In [ ]:
string = "Hello World!"
print("Upper Case:",string.upper())
print("Lower Case:",string.lower())
print("Length of the string:",len(string))
print("Reversed string:",string[::-1])

Upper Case: HELLO WORLD!
Lower Case: hello world!
Length of the string: 12
Reversed string: !dlroW olleH

**13. Find the largest among three numbers:**

In [ ]:
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
num3 = float(input("Enter the third number:"))
max = max(num1, num2, num3)
print("Maximum number:", max)

Enter the first number:5
Enter the second number:8
Enter the third number:10
Maximum number: 10.0

**14. Convert Celsius to Fahrenheit:**

In [ ]:
celsius = float(input("Enter temperature in Celsius:"))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius:30.6
Temperature in Fahrenheit: 87.08000000000001

**15. Print Multiplication Table:**

In [ ]:
num = int(input("Enter any number: "))
for i in range (1,11):
  print(num, "x", i, "=", num*i)

Enter any number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**16. Count vowels in a string:**

In [ ]:
def count_vowels(s):
  vowels = 'aeiouAEIOU'
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

string = input("Enter any string: ")
vowel_count = count_vowels(string)
print("Number of vowels:",vowel_count)

Enter any string: Moiz
Number of vowels: 2

**17. Check Leap Year:**

In [ ]:
def is_leap(year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  return False

year = int(input("Enter a year: "))
if is_leap(year):
  print("Leap year")
else:
  print("Not a leap year")

Enter a year: 2024
Leap year

**18. Find the LCM of two numbers:**

In [ ]:
def calculate_lcm(x,y):
  if x > y:
    greater = x
  else:
    greater = y
  while True:
    if greater % x == 0 and greater % y == 0:
      lcm = greater
      break
    greater+=1
  return lcm

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("LCM:",calculate_lcm(num1, num2))

Enter the first number: 2
Enter the second number: 3
LCM: 6

**19. Bubble Sort Algoritm:**

In [ ]:
def bubble_sort(arr):
  n=len(arr)
  for i in range(n-1):
    for j in range(0, n-i-1):
      if arr[j]>arr[j+i]:
        arr[j], arr[j+1] = arr[j+1], arr[j]

arr = [64,34,25,12,22,11,90]
bubble_sort(arr)
print("Sorted Array: ",arr)

Sorted Array:  [22, 25, 12, 34, 11, 64, 90]